footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
  color: black;
  padding: 20px;
  width: 100%;
  margin-top: 30px;
  box-sizing: border-box;

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s ease;

    &:hover {
      color: rgb(31, 48, 204);
    }
  }
}
